.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius, 0.25rem);
    padding: var(--spacing-large, 2rem);
    background-color: var(--color-accent-1, #999);
}

.cta__container {
    max-width: 30rem;
    text-align: center;
}

.cta__title {
    font-size: var(--font-size-large, 2rem);
    font-color: var(--color-white, #FFF);
}

.cta__content {
    font-size: var(--font-size-p, 1rem);
    font-color: var(--color-white, #FFF);
}